@import url('https://fonts.googleapis.com/css2?family=Lato&family=Niconne&family=Noto+Sans:wght@100&family=Poppins:wght@200;300;500&family=Raleway:wght@500;600&family=Redressed&family=Roboto:wght@900&family=Ubuntu&display=swap');

/* font-family: 'Lato', sans-serif;

font-family: 'Niconne', cursive;

font-family: 'Noto Sans', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Raleway', sans-serif;

font-family: 'Redressed', cursive;

font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0px;
}


body {
    background-color: #141125;
    color: #a9ad96;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    border-color: #a9ad96;
    /* border-style: solid; */

}

button {
    font-family: 'Raleway', sans-serif;
    margin: 1pc;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: #141125;
    color: aqua;
    display: inline-flex;
    justify-content: center;
}

@media (max-width: 864px) {
    button {
        /* border: 1px solid black; */
        display: inline-flex;
        justify-content: center;
        margin-left: 1pc;
        margin-right: 1pc;
        margin: 1pc;
    }
}

@media (max-width: 423px) {
    button {
        /* border: 1px solid black;
        display: inline-flex;
        justify-content: center;
        margin-left: px;
        margin-right: px;
        margin: px; */
        display: none;
    }
}

/* @media (max-width: 400px) {
    button {
        border: 1px solid black;
        display: inline-flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0pc;
    }
} */

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
}

@media (max-width: 897px) {
    a {
        font-size: 15px;
    }
}

.scroll_bar_title{
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    margin-left: 73vw;
    margin-top: 8vh;
    display: flex;
    margin-bottom: -81px;
    position: fixed;
}
.list_scrollbar {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: solid 1px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-left: solid 1px;
    border-top: solid 1px;
    border-color: #a9ad96;
    border-radius: 10px;
    padding-left: 150px;
    padding-right: 10px;
}

.scrollbar {
    height: 419px;
    width: 400px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: scroll;
    margin-left: 940px;
    margin-top: 104px;
    position: fixed;
}

.list_scrollbar_images {
    /* height: 17px;
    width: 22px; */
    margin-left: -20px;
    margin-top: -97px;

}

.scroll_images {
    display: flex;
    height: 17px;
    width: auto;
    display: flex;
    height: 0px;
    width: auto;
    margin-left: -120px;
    margin-top: 39px;
}

.blog_one_h{
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    margin-top: 10vh;
    margin-left: 10vw;
    
}
.blog_one_i{
    height: auto;
    width: 50vw;
    margin-left: 7vw;
    margin-top: 5vh;
    border: solid 1px;
    border-color: #a9ad96;
    border-radius: 10px;
    padding: 20px;
}

.blog_one_p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: 7vw;
    margin-top: 5vh;
    margin-right: 40vw;
    padding-bottom: 10vh;
}

.show_more{
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    text-decoration: underline;
    color: #a9ad96;
}

.footer{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 1px solid;
    border-color: #a9ad96;
}